# OS
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/extensions.json
.idea/

# Node / TS
node_modules/
.pnpm-store/
dist/
out/
*.tsbuildinfo
npm-debug.log*
*.vsix

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Rust
target/

# Go
/bin/

# Logs / misc
*.log
.env
